<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">

<head>
    <link href="actividadConcreta.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="contenedor-principal">
        <div class="contenedor-contenido">

            <div class="contenedor-menu">
                <h1>Menu</h1>
                <a href="#perfil">Perfil</a>
                <a href="#actividades">Actividades</a>
                <a href="#establecimiento">Establecimientos</a>
                <a href="#ofertas">Ofertas</a>
                <a href="#actividades">Actividades</a>
            </div>

            <div class="contenedor-main">
                <div class="main-titulo">
                    <h1>Nombre Actividad</h1>
                </div>
                
                <div class="main-participantes">
                    <ol>
					<h3>Lisra de participantes:</h3>
					  <li>Primer participante</li>
					  <li>Segundo participante</li>
					  <li>Tercer participante</li>
					  <li>Cuarto participante</li>
					</ol>
                </div>



				<div class="main-comentarios">
				    <h3>Comentarios: </h3>
					<input type="text">
				</div> <br>
				<div>
					comentario ejemplo.
				</div>
               
            </div>

        </div>
    </div>
</body>

</html>

</html>