<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/establecimiento.css}">
</head>

<body>
    <div class="contenedor-principal">
        <div class="contenedor-contenido">

            <div class="contenedor-menu">
                <h1>Menu</h1>
                <a href="#perfil">Perfil</a>
                <a href="#actividades">Actividades</a>
                <a href="#establecimiento">Establecimientos</a>
                <a href="#ofertas">Ofertas</a>
                <a href="#actividades">Actividades</a>
            </div>
			
			  <div class="contenedor-main">
                <div class="main-titulo">
                    <h1>Establecimiento</h1>
                </div>
				
				<!-- falta detalles -->
				
				
				<!-- falta calendario -->
				
				
				<!-- falta botones para las ofertas aceptar/rechazar -->
			
</body>
</html>