<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/perfil.css">
</head>

<body>
    <div class="contenedor-principal">
        <div class="contenedor-contenido">

            <div class="contenedor-menu">
                <h1>Menu</h1>
                <a href="#perfil">Perfil</a>
                <a href="#actividades">Actividades</a>
                <a href="#establecimiento">Establecimientos</a>
                <a href="#ofertas">Ofertas</a>
                <a href="#actividades">Actividades</a>
            </div>
			
			<div class="contenedor-main">
                <div class="main-titulo">
                    <h1>Establecimiento</h1>
                </div>
			
				
					<div class="main-descripcion">
						<div class="descripcion-detalle">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin sit amet velit ac efficitur. In euismod, nulla sed euismod cursus, justo diam hendrerit enim, nec faucibus augue dui et elit. Integer elit orci, hendrerit at tortor eget, finibus iaculis dui. Nullam et rhoncus metus. Nam eget molestie odio, non tempus nunc.
						</div>
					</div>
			
	
				
				<div class="calendario-limite">
					<div class="contenedor-tabla">
						<div class="wrap-tabla">
							<div class="tabla">
								<table>
									<thead>
									<tr class="fila-cabecera">
										<th class="columna columna1" data-column="columna1"></th>
											<th class="columna columna2" data-column="columna2">LUNES</th>
											<th class="columna columna3" data-column="columna3">MARTES</th>
											<th class="columna columna4" data-column="columna4">MIERCOLES</th>
											<th class="columna columna5" data-column="columna5">JUEVES</th>
											<th class="columna columna6" data-column="columna6">VIERNES</th>
											<th class="columna columna7" data-column="columna7">SABADO</th>
											<th class="columna columna8" data-column="columna8">DOMINGO</th>
									</tr>
								</thead>
								<tbody>
									<tr class="fila">
										<td class="columna columna1" data-column="column1">9:00 </td>
										<td class="columna column2" data-column="column2">--</td>
										<td class="columna column3" data-column="column3">--</td>
										<td class="columna column4" data-column="column4">--</td>
										<td class="columna column5" data-column="column5">--</td>
										<td class="columna column6" data-column="column6">--</td>
										<td class="columna column7" data-column="column7">--</td>
										<td class="columna column8" data-column="column8">--</td>
									</tr>
							
									<tr class="fila">
										<td class="columna columna1" data-column="column1">10:00 </td>
										<td class="columna column2" data-column="column2">--</td>
										<td class="columna column3" data-column="column3">--</td>
										<td class="columna column4" data-column="column4">--</td>
										<td class="columna column5" data-column="column5">--</td>
										<td class="columna column6" data-column="column6">--</td>
										<td class="columna column7" data-column="column7">--</td>
										<td class="columna column8" data-column="column8">--</td>
									</tr>
							
									<tr class="fila">
										<td class="columna columna1" data-column="column1">11:00 </td>
										<td class="columna column2" data-column="column2">--</td>
										<td class="columna column3" data-column="column3">--</td>
										<td class="columna column4" data-column="column4">--</td>
										<td class="columna column5" data-column="column5">--</td>
										<td class="columna column6" data-column="column6">--</td>
										<td class="columna column7" data-column="column7">--</td>
										<td class="columna column8" data-column="column8">--</td>
									</tr>
							
									<tr class="fila">
										<td class="columna columna1" data-column="column1">12:00 </td>
										<td class="columna column2" data-column="column2">--</td>
										<td class="columna column3" data-column="column3">--</td>
										<td class="columna column4" data-column="column4">--</td>
										<td class="columna column5" data-column="column5">--</td>
										<td class="columna column6" data-column="column6">--</td>
										<td class="columna column7" data-column="column7">--</td>
										<td class="columna column8" data-column="column8">--</td>
									</tr>
							
									<tr class="fila">
										<td class="columna columna1" data-column="column1">13:00 </td>
										<td class="columna column2" data-column="column2">--</td>
										<td class="columna column3" data-column="column3">--</td>
										<td class="columna column4" data-column="column4">--</td>
										<td class="columna column5" data-column="column5">--</td>
										<td class="columna column6" data-column="column6">--</td>
										<td class="columna column7" data-column="column7">--</td>
										<td class="columna column8" data-column="column8">--</td>
									</tr>
							
									<tr class="fila">
										<td class="columna columna1" data-column="column1">14:00 </td>
										<td class="columna column2" data-column="column2">--</td>
										<td class="columna column3" data-column="column3">--</td>
										<td class="columna column4" data-column="column4">--</td>
										<td class="columna column5" data-column="column5">--</td>
										<td class="columna column6" data-column="column6">--</td>
										<td class="columna column7" data-column="column7">--</td>
										<td class="columna column8" data-column="column8">--</td>
									</tr>
							
									<tr class="fila">
										<td class="columna columna1" data-column="column1">15:00 </td>
										<td class="columna column2" data-column="column2">--</td>
										<td class="columna column3" data-column="column3">--</td>
										<td class="columna column4" data-column="column4">--</td>
										<td class="columna column5" data-column="column5">--</td>
										<td class="columna column6" data-column="column6">--</td>
										<td class="columna column7" data-column="column7">--</td>
										<td class="columna column8" data-column="column8">--</td>
									</tr>
							
									<tr class="fila">
										<td class="columna columna1" data-column="column1">16:00 </td>
										<td class="columna column2" data-column="column2">--</td>
										<td class="columna column3" data-column="column3">--</td>
										<td class="columna column4" data-column="column4">--</td>
										<td class="columna column5" data-column="column5">--</td>
										<td class="columna column6" data-column="column6">--</td>
										<td class="columna column7" data-column="column7">--</td>
										<td class="columna column8" data-column="column8">--</td>
									</tr>
							
									<tr class="fila">
										<td class="columna columna1" data-column="column1">17:00 </td>
										<td class="columna column2" data-column="column2">--</td>
										<td class="columna column3" data-column="column3">--</td>
										<td class="columna column4" data-column="column4">--</td>
										<td class="columna column5" data-column="column5">--</td>
										<td class="columna column6" data-column="column6">--</td>
										<td class="columna column7" data-column="column7">--</td>
										<td class="columna column8" data-column="column8">--</td>
									</tr>
							
									<tr class="fila">
										<td class="columna columna1" data-column="column1">18:00 </td>
										<td class="columna column2" data-column="column2">--</td>
										<td class="columna column3" data-column="column3">--</td>
										<td class="columna column4" data-column="column4">--</td>
										<td class="columna column5" data-column="column5">--</td>
										<td class="columna column6" data-column="column6">--</td>
										<td class="columna column7" data-column="column7">--</td>
										<td class="columna column8" data-column="column8">--</td>
									</tr>
							
									<tr class="fila">
										<td class="columna columna1" data-column="column1">19:00 </td>
										<td class="columna column2" data-column="column2">--</td>
										<td class="columna column3" data-column="column3">--</td>
										<td class="columna column4" data-column="column4">--</td>
										<td class="columna column5" data-column="column5">--</td>
										<td class="columna column6" data-column="column6">--</td>
										<td class="columna column7" data-column="column7">--</td>
										<td class="columna column8" data-column="column8">--</td>
									</tr>
								
									<tr class="fila">
										<td class="columna columna1" data-column="column1">20:00 </td>
										<td class="columna column2" data-column="column2">--</td>
										<td class="columna column3" data-column="column3">--</td>
										<td class="columna column4" data-column="column4">--</td>
										<td class="columna column5" data-column="column5">--</td>
										<td class="columna column6" data-column="column6">--</td>
										<td class="columna column7" data-column="column7">--</td>
										<td class="columna column8" data-column="column8">--</td>
									</tr>
							
									<tr class="fila">
										<td class="columna columna1" data-column="column1">21:00 </td>
										<td class="columna column2" data-column="column2">--</td>
										<td class="columna column3" data-column="column3">--</td>
										<td class="columna column4" data-column="column4">--</td>
										<td class="columna column5" data-column="column5">--</td>
										<td class="columna column6" data-column="column6">--</td>
										<td class="columna column7" data-column="column7">--</td>
										<td class="columna column8" data-column="column8">--</td>
									</tr>	
								</tbody>
							</table>			
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>
