<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/listaEstablecimientos.css}">
</head>

<body>
    <div class="contenedor-principal">
        <div class="contenedor-contenido">

            <div class="contenedor-menu">
                <h1>Menu</h1>
                <a href="#perfil">Perfil</a>
                <a href="#actividades">Actividades</a>
                <a href="#establecimiento">Establecimientos</a>
                <a href="#ofertas">Ofertas</a>
                <a href="#actividades">Actividades</a>
            </div>

            <div class="contenedor-main">
                <div class="main-titulo">
                    <h1>Lista de Establecimientos</h1>
                </div>

                <div class="main-lista">
                    <div class="lista-wrapper">
                        <div class="elemento-lista">
                            <div class="lista-titulo"><a href="#detalle1">#Establecimiento 1</a></div>
                            <div class="lista-detalle">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin sit amet velit ac efficitur. In euismod, nulla sed euismod cursus, justo diam hendrerit enim, nec faucibus augue dui et elit. Integer elit orci, hendrerit at tortor eget, finibus iaculis dui. Nullam et rhoncus metus. Nam eget molestie odio, non tempus nunc.
                            </div>
                        </div>

                        <div class="elemento-lista">
                            <div class="lista-titulo"><a href="#detalle2">#Establecimiento 2</a></div>
                            <div class="lista-detalle">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin sit amet velit ac efficitur. In euismod, nulla sed euismod cursus, justo diam hendrerit enim, nec faucibus augue dui et elit. Integer elit orci, hendrerit at tortor eget, finibus iaculis dui. Nullam et rhoncus metus. Nam eget molestie odio, non tempus nunc.
                            </div>
                        </div>
                        <div class="elemento-lista">
                            <div class="lista-titulo"><a href="#detalle3">#Establecimiento 3</a></div>
                            <div class="lista-detalle">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin sit amet velit ac efficitur. In euismod, nulla sed euismod cursus, justo diam hendrerit enim, nec faucibus augue dui et elit. Integer elit orci, hendrerit at tortor eget, finibus iaculis dui. Nullam et rhoncus metus. Nam eget molestie odio, non tempus nunc.
                            </div>
                        </div>
                        <div class="elemento-lista">
                            <div class="lista-titulo"><a href="#detalle4">#Establecimiento 4</a></div>
                            <div class="lista-detalle">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin sit amet velit ac efficitur. In euismod, nulla sed euismod cursus, justo diam hendrerit enim, nec faucibus augue dui et elit. Integer elit orci, hendrerit at tortor eget, finibus iaculis dui. Nullam et rhoncus metus. Nam eget molestie odio, non tempus nunc.
                            </div>
                        </div>
                        <div class="elemento-lista">
                            <div class="lista-titulo"><a href="#detalle5">#Establecimiento 5</a></div>
                            <div class="lista-detalle">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin sit amet velit ac efficitur. In euismod, nulla sed euismod cursus, justo diam hendrerit enim, nec faucibus augue dui et elit. Integer elit orci, hendrerit at tortor eget, finibus iaculis dui. Nullam et rhoncus metus. Nam eget molestie odio, non tempus nunc.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>