<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/oferta.css}">
</head>

<body>
    <div class="contenedor-principal">
        <div class="contenedor-contenido">

            <div class="contenedor-menu">
                <h1>Menu</h1>
                <a href="#perfil">Perfil</a>
                <a href="#actividades">Actividades</a>
                <a href="#establecimiento">Establecimientos</a>
                <a href="#ofertas">Ofertas</a>
                <a href="#actividades">Actividades</a>
            </div>

            <div class="contenedor-main">
                <div class="main-titulo">
                    <h1>Lista de Ofertas</h1>
                </div>
                
                <div class="mian-selector">
                    <select name="select" id="" class="selector-sort">
                        <option value="ascendente">Fecha ascendente</option>
                        <option value="descendente">Fecha descendente</option>
                        <option value="precio-ascendente">Precio ascendente</option>
                        <option value="precio-descendiente">Precio descendente</option>
                    </select>
                </div>

                <div class="main-lista">
                    <div class="lista-wrapper">
                        <div class="elemento-lista">
                            <div class="lista-titulo"><a href="#detalle1">#Oferta 1</a></div>
                            <div class="lista-detalle">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin sit amet velit ac efficitur. In euismod, nulla sed euismod cursus, justo diam hendrerit enim, nec faucibus augue dui et elit. Integer elit orci, hendrerit at tortor eget, finibus iaculis dui. Nullam et rhoncus metus. Nam eget molestie odio, non tempus nunc.
                            </div>
                        </div>

                        <div class="elemento-lista">
                            <div class="lista-titulo"><a href="#detalle2">#Oferta 2</a></div>
                            <div class="lista-detalle">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin sit amet velit ac efficitur. In euismod, nulla sed euismod cursus, justo diam hendrerit enim, nec faucibus augue dui et elit. Integer elit orci, hendrerit at tortor eget, finibus iaculis dui. Nullam et rhoncus metus. Nam eget molestie odio, non tempus nunc.
                            </div>
                        </div>
                        <div class="elemento-lista">
                            <div class="lista-titulo"><a href="#detalle3">#Oferta 3</a></div>
                            <div class="lista-detalle">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin sit amet velit ac efficitur. In euismod, nulla sed euismod cursus, justo diam hendrerit enim, nec faucibus augue dui et elit. Integer elit orci, hendrerit at tortor eget, finibus iaculis dui. Nullam et rhoncus metus. Nam eget molestie odio, non tempus nunc.
                            </div>
                        </div>
                        <div class="elemento-lista">
                            <div class="lista-titulo"><a href="#detalle4">#Oferta 4</a></div>
                            <div class="lista-detalle">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin sit amet velit ac efficitur. In euismod, nulla sed euismod cursus, justo diam hendrerit enim, nec faucibus augue dui et elit. Integer elit orci, hendrerit at tortor eget, finibus iaculis dui. Nullam et rhoncus metus. Nam eget molestie odio, non tempus nunc.
                            </div>
                        </div>
                        <div class="elemento-lista">
                            <div class="lista-titulo"><a href="#detalle5">#Oferta 5</a></div>
                            <div class="lista-detalle">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin sit amet velit ac efficitur. In euismod, nulla sed euismod cursus, justo diam hendrerit enim, nec faucibus augue dui et elit. Integer elit orci, hendrerit at tortor eget, finibus iaculis dui. Nullam et rhoncus metus. Nam eget molestie odio, non tempus nunc.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>