<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/perfil.css}">
</head>

<body>
    <div class="contenedor-principal">
        <div class="contenedor-contenido">

            <div class="contenedor-menu">
                <h1>Menu</h1>
                <a href="#perfil">Perfil</a>
                <a href="#actividades">Actividades</a>
                <a href="#establecimiento">Establecimientos</a>
                <a href="#ofertas">Ofertas</a>
                <a href="#actividades">Actividades</a>
            </div>

            <div class="contenedor-main">
                <div class="main-titulo">
                    <h1>Perfil de Usuario</h1>
                </div>

                <div class="contenedor-informacion">

                    <div class="detalles-usuario">
                        <ul>
                            <li>Nombre: Petito</li>
                            <li>Email: pepito@gmail.com</li>
                            <li>Edad: 23 años</li>
                            <li>Teléfono: 666 666 666</li>
                        </ul>
                    </div>

                    <div class="imagen-usuario">
                        <img src="../img/ejemplo.jpeg" alt="Imagen del Usuario">
                    </div>

                </div>

            </div>

        </div>
    </div>
</body>

</html>